<app-navbar></app-navbar>
<div class="container custom__margin__top mb-5">
  <br>
  <h1>Upload and Sell your item</h1>
  <form accept-charset="UTF-8" action="/myTokoProduk" enctype="multipart/form-data">
    <div class="form-group">
      <label for="namaProduk">Nama Produk</label>
      <input type="text" name="namaProduk" class="form-control" id="namaProduk" placeholder="Nama Produk Anda">
    </div>
    <div class="form-group">
      <label for="deskripsiProduk">Deksripsi Produk</label>
      <textarea class="form-control" id="deskripsiProduk" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label for="hargaProduk">Harga Produk</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Rp.</span>
        </div>
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category</label>
      <select class="form-control" id="exampleFormControlSelect1" name="platform">
        <option>Font</option>
        <option>Icon</option>
        <option>Logo</option>
        <option>Web</option>
        <option>Misc</option>
      </select>
    </div>
    <hr>
    <div class="form-group mt-3">
      <label class="mr-2">Upload File Utama</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">.zip file</label>
      </div>
    </div>
    <div class="form-group mt-3">
      <label class="mr-2">Thumbnail Produk</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">.jpg/.png</label>
      </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>