<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light mb-5">
  <div class="container">
  <a class="navbar-brand" routerLink=""><img src="assets/pic/logo-test.png" height="30"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produkList/Font">Font</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produkList/Icon">Icon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produkList/Logo">Logo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produkList/Web">Web</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produkList/Misc">Misc</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0" action="/produkList/Search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>        
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart"><i class="fa fa-shopping-cart"></i> (3)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wishlistToko">Account</a>
      </li>
    </ul>
  </div>
</div>
</nav>