<header>
    <!-- Navbar -->
</header>
<div class="wrapper vh-200">
    <app-profile-toko></app-profile-toko>
    <div class="container-fluid">
        <h2 class="mt-5 mb-5">Ulasan</h2>
        <div class="col ulasanD">
            <div class="media">
                <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
                <div class="media-body">
                  <h5 class="mt-0">judul Banner</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <div class="media">
                <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
                <div class="media-body">
                  <h5 class="mt-0">judul Banner</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <div class="media">
                <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
                <div class="media-body">
                  <h5 class="mt-0">judul Banner</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            
        </div>
    </div>
    
</div>