<app-navbar></app-navbar>
<div class="container custom__margin__top mb-5">
  <div class="jumbotron jumbotron-fluid" style="background: url('assets/pic/banner.svg')">
    <h1>Temukan Logo, Font, Template Web, dan lainnya</h1>
    <a routerLink="register" class="btn btn-dark btn-lg mt-5">GET STARTED</a>
  </div>

  <section class="product-section">
    <div class="d-flex">
      <h3>Produk Populer</h3>
      <div class="ml-auto">
        <a routerLink="produkList/Populer" class="btn btn-primary mt-2">Lihat Semua</a>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngFor="let item of produkService.popular | keyvalue">
        <div class="col">
          <a routerLink="produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="product-section mt-5">
    <div class="d-flex">
      <h3>Produk Unggulan</h3>
      <div class="ml-auto">
        <a routerLink="produkList/Unggulan" class="btn btn-primary mt-2">Lihat Semua</a>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngFor="let item of produkService.featured | keyvalue">
        <div class="col">
          <a routerLink="produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="product-section mt-5">
    <div class="d-flex">
      <h3>Produk Trending</h3>
      <div class="ml-auto">
        <a routerLink="produkList/Trending" class="btn btn-primary mt-2">Lihat Semua</a>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngFor="let item of produkService.trending | keyvalue">
        <div class="col">
          <a routerLink="produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </section>
</div>