.jumbotron {
  background-size: cover !important;
  height: 400px;
  background-repeat: no-repeat !important;
  background-position: center;
  padding: 50px;
  border-radius: 30px;
  color: #fff !important;

  h1 {
    max-width: 500px;
    color: #fff;
    font-weight: bold;
  }
}

.product-section {
  .col {
    a {
      text-decoration: none !important;
    }
    h5, p {
      color: #212529;
    }
  }
}