
<div class="wrapper v-200">
  <app-my-toko></app-my-toko>
    <div class="container-fluid product-section">
      <h2>Produk Saya</h2>
      <div class="row mt-5 mb-5">
        <div class="col">
          <a routerLink="/produkDetail">
            <div class="card">
              <img class="card-img-top" src="assets/pic/produk6.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>700+ Premium Vector Icons</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Kelompok Zenta</a></p>
                <h4 class="text-primary">Rp. 370.000</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/produkDetail">
            <div class="card">
              <img class="card-img-top" src="assets/pic/produk7.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>Portfolio Business Genesis theme An</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Kelompok Zenta</a></p>
                <h4 class="text-primary">Rp. 620.000</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/produkDetail">
            <div class="card">
              <img class="card-img-top" src="assets/pic/produk8.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>Real Estate WordPress WPCasa</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Kelompok Zenta</a></p>
                <h4 class="text-primary">Rp. 700.000</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
