<app-navbar></app-navbar>
<div class="wrapper vh-200 custom__margin__top">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>

      <div class="col-md-7 wrapper1">
        <div class="head">
          <h4>Need some support ?</h4>
        </div>
        <hr>
        <div class="content">
          <div class="kodePembelian space">
            <h6 id="subTitle">Masukkan Kode Pembelian</h6>
            <p>Masukkan Kode Pembelian disini untuk menverifikasi pembelian kamu</p>
            <input type="text" class="form-control" placeholder="Masukkan Kode Pembelian">
          </div>
          <div class="registrasi space">
            <h6 id="subTitle">Registrasi</h6>
            <p>Masukkan username akun kamu untuk mendapatkan bantuan</p>
            <form>
              <div class="row r1">
                <div class="col-md-6">
                  <input type="text" class="form-control" id="nama" placeholder="Nama kamu ...">
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Alamat Email ...">
                </div>
              </div>
              <div class="row r2">
                <div class="col-md-6">
                  <input type="password" class="form-control" id="password" placeholder="Password ...">
                </div>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="Rpassword" placeholder="Ulangin Password ...">
                </div>
              </div>
              <div class="kategori space">
                <h6 id="subTitle">Kategori Pembelian</h6>
                <p>Secara general, kategori pembelian tentang ?</p>
                <input type="text" class="form-control" id="kategori" placeholder="Kategori Pembelian">
              </div>
              <div class="penjelasan space">
                <h6 id="subTitle">Pembelian Deskripsi</h6>
                <p>Deskripsikan sejelas mungkin mengenai pemeblian ini</p>
                <textarea class="form-control" id="detailP" rows="3"></textarea>

              </div>
              <div class="submit">
                <button type="button" class="btn btn-success btn-block space" id="submit">Submit</button>
              </div>

            </form>

          </div>

        </div>

      </div>

      <div class="col-2"></div>
    </div>
  </div>
</div>