.wrapper{
    p {
        font-size: 12px;
        margin: 0px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
    }

    background-color: #F2F2F2;

    .container{
        
        .wrapper1{
            margin-top: 2em;
            margin-bottom: 2em;
            background-color: white;
            border-radius:3px ;
            .head{
                margin-top: 1em;
            }
            .content{
                padding: 0px 15px;
                .space{
                    margin-top: 20px;
                }
                #subTitle{
                    margin-bottom: 10px;
                    color: #39dbcd;
                }
                .form-control{
                    margin-top: 10px;
                }
                .submit{
                    margin-bottom: 10px;
                }
            }
        }

    }
}
