
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-md vh-100 bagian1">

      <div class="wrapper1">
        <div class="logo">
          <img src="assets/pic/logo-test.png" alt="logoLoutaro" id="logoLoutaro">
        </div>
        <div class="textSlogan">
          <h3 id="slogan">Jual-Beli desain digital <br> Pekerja Digital</h3>
        </div>
      </div>
    </div>
    <div class="col-md-7 bagian2">
      <div class="row justify-content-lg-center  atas">


        <div class="col-xl-7 ">

          <div class="bagianatas">
            <div class="logob">
              <img src="assets/pic/logo-test.png" alt="logo" id="logoLoutaro">
            </div>
            <h4>Login in to Loutaro</h4>

            <div class="mediasosial">
              <div class="google">
                <img src="assets/pic/google-plus.png" alt="google">
                <h6>Masuk dengan google</h6>
              </div>
              <div class="facebook">
                <img src="assets/pic/facebook.png" alt="facebook">
              </div>
            </div>
          </div>

          <div class="pemisah">
            <div class="row">
              <div class="col-5"><hr></div>
              <div class="col-2 d-flex justify-content-center "><p>Atau</p></div>
              <div class="col-5"><hr></div>
            </div>
          </div>


          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username atau Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="Login" class="btn btn-primary btn-block">Login</button>
          </form>


        <div class="bagianBawah">
          <p>Tidak punya akun? <a routerLink ="/register">Buat akun</a></p>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

