//bambang

body{
    margin: 0px;
    padding: 0px;
    p,h1,h2,h2,h3,h4,h5,h6 {
        margin: 0px;
    }
}

.wrapper{
    .row{
        .bagian1{
            background-color:#41E5d2;
            padding: 10px;
            
            .wrapper1{
                margin-left: 4em;
                margin-top: 4em;
                padding-top: 2em;
                .logo{
                    #logoLoutaro{
                        width: 172px;
                    }
                }
                .textSlogan{
                    margin-top: 2em;
                    #slogan{
                        color: #2E3B4D;
                    }
                }
            }
        }

        .bagian2{
            padding: 20px;
            margin-top: auto;
            margin-bottom: auto;
            .atas{
                .bagianatas{
                    .logob{
                        #logoLoutaro{
                            width: 100px;
                            margin: 1em 0em;
                            display: none;
                        }  
                    }
                    .mediasosial{
                        margin: 1em 0em;
                        height: 60px;
                        padding: 10px 0px 10px 0px;
                        display: flex;
                        
                        img{
                            width: 30px;
                            
                        }
                        
                        
                        .google{
                            padding: 5px;
                            width: 291px;
                            background-color: #41E5d2;
                            display: flex;
                            cursor: pointer;
                            // border: 1px solid black;
                            
                            img{
                                margin-left: 10px;
                            }
                            h6{
                                padding: 4px;
                                margin: 0px auto;
                            }
                            border-radius: 5px;
                        }
                        .google:hover{
                            background-color:rgb(54, 187, 171);
                        }
                        .facebook{
                            align-self: center;
                            height: 40px;
                            width: 40px;
                            border-radius: 5px;
                            margin-left: 1em;
                            padding: 5px;
                            cursor: pointer;
                        }
                        .facebook:hover{
                            background-color:rgb(54, 187, 171) ;
                        }
                    }
                }

                .pemisah{
                    margin: 1em 0em;
                }

                .bagianBawah{
                    margin-top: 1em;
                }
            }

        }

    }
}

@media only screen and (max-width: 767.98px) { 
.wrapper{
    .row{
        .bagian1{
            display: none;
        }
        .bagian2{
            .atas{
                .bagianatas{
                    .logob{
                        #logoLoutaro{
                            display: block;
                        }
                    }

                }
                
            }
        }

    }
}
    

}