<app-my-toko></app-my-toko>
<div class="container-fluid">
    <hr>
    <div class="navbar d-flex justify-content-center">
        <div class="col-2 produk"><a routerLink="/wishlistToko">Wishlist</a></div>
        <div class="col-2 ulasan"><a routerLink="/favoriteToko">Toko Favorite</a></div>
    </div>
      <hr>
</div>