.container-fluid{
    width: 70%;
    .navbar{
        width: 100%;
        a{
            cursor: pointer;
            padding-top: 10px;
            color: black;
            text-decoration: none;
            
        }
        a:hover{
            border-top: 1px solid gray;
        }


    }
}