<app-navbar></app-navbar>
<div class="container custom__margin__top mb-5">
  <section class="product-section">
    <div class="text-center mt-5 mb-5">
      <h2>Produk {{category}}</h2>
    </div>
    <div class="row mt-5 mb-5">
      <ng-container *ngFor="let item of produkService.popular | keyvalue">
        <div class="col">
          <a routerLink="/produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="/metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="/cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="/wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
    <div class="row mt-5 mb-5">
      <ng-container *ngFor="let item of produkService.featured | keyvalue">
        <div class="col">
          <a routerLink="/produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="/metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="/cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="/wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
    <div class="row mt-3">
      <ng-container *ngFor="let item of produkService.trending | keyvalue">
        <div class="col">
          <a routerLink="/produkDetail/{{item.key}}">
            <div class="card">
              <img class="card-img-top" src="{{item.value.img}}" alt="Card image cap">
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">{{item.value.author}}</a></p>
                <h4 class="text-primary">{{item.value.regulerPrice | currency:'IDR':'symbol-narrow'}}</h4>
                <div>
                  <div>
                    <a routerLink="/metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                    <a routerLink="/cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                    <a routerLink="/wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </section>
</div>