<header>
  <!-- Navbar -->
</header>
<app-navbar-toko></app-navbar-toko>
<div class="wrapper vh-200">
  <div class="container-fluid">
    <h2>Toko Favorit</h2>
    <div class="col ulasanD">
      <div class="media">
        <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
        <div class="media-body">
          <h5 class="mt-0">Nama Toko</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
        <div class="media-body">
          <h5 class="mt-0">Nama Toko</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <img src="assets/pic/dummy.jpg" class="mr-3" alt="ulasanD" id="imgUlasan">
        <div class="media-body">
          <h5 class="mt-0">Nama Toko</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>


    </div>
  </div>

</div>