<app-navbar></app-navbar>
<div class="wrapper vh-200 custom__margin__top">
  <div class="container-fluid">
    <div class="headToko">
      <div class="row headProfil">
        <div class="col-xl-3 col-lg-4 picture">
          <img src="assets/pic/ava.jpg" class="rounded-circle ava" alt="ava" id="ava">
        </div>
        <div class="col-xl-9 col-lg-8 desc">
          <div class="title">
            <h1>Rachel Price</h1>
          </div>
          <div class="row mid">
            <div class="col-md-4 col-lg-4 followers">
              <p><b>100</b> Produk</p>
            </div>
            <div class="col-md-4 col-lg-4">
              <p><b>10</b> Pengikut</p>
            </div>
          </div>
          <div class="desc1">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum aliquid nam facere laborum placeat,
              accusantium iste incidunt sit veritatis maiores inventore ut nihil numquam quo fugit ullam similique!
              Magnam, quaerat!</p>
          </div>
          <div class="d-flex flex-row-reverse bd-highlight button">
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-success Chat"
                routerLink="/Chat">Chat</button></div>
                <div class="p-2 bd-highlight"><button type="button" class="btn btn-success Chat"
                  routerLink="/support">Support</button></div>
            <div class="p-2 bd-highlight"><button routerLink="/favoriteToko" type="button" class="btn btn-primary">+Toko Favorit</button></div>
          </div>
        </div>
      </div>
    </div>
    <hr class="garis">
    <div class="navbar d-flex justify-content-center">
      <div class="col-2 produk"><a routerLink="/profileProduk">Produk</a></div>
      <div class="col-2 ulasan"><a routerLink="/profileUlasan">Ulasan</a></div>
      <div class="col-2 about"><a routerLink="/profileAbout">About</a></div>
    </div>
  </div>
</div>