.wrapper {
  .container-fluid {
    width: 70%;
    .headToko {
      .headProfil {
        .picture {
          padding: 10px;
          width: 140px;
          .ava {
            width: 150px;
            border: 2px solid gray;
          }
        }
        .desc {
          .desc1 {
            margin-top: 10px;
          }
        }
      }
    }
    .garis {
      margin: 2em 0em;
    }
    .navbar {
      width: 100%;
      .ulasan {
        a {
          border-top: 1px solid gray;
        }
      }
      a {
        cursor: pointer;
        padding-top: 10px;
        color: black;
        text-decoration: none;
      }
      a:hover {
        border-top: 1px solid gray;
      }
    }

    .ulasanD {
      #kategori {
        margin-top: 2em;
      }
      img {
        width: 156px;
        border-radius: 3px;
      }
      .media {
        margin-top: 2em;
      }
    }
  }
}
