<app-navbar-toko></app-navbar-toko>
<div class="wrapper vh-200 product-section mb-5">
  <div class="container-fluid">
    <h2>Wishlist</h2>
    <div class="row mt-3">
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>VR Icons and Typography</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 340.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk11.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Emily Grace - A Blog & Shop Theme</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 670.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk12.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Eram - Photography & Portfolio Theme</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 720.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>