<app-my-toko></app-my-toko>
<div class="container-fluid wrapper mb-5">
    
    <h2 class="mb-5 mt-5">Info Pengunjung</h2>
    
    <div class="row">
        <div class="col-lg-6">
            <h4>Pengunjung</h4>
            <canvas baseChart
            [datasets] = "barChartData"
            [labels] = "barChartLabels"
            [options] = "barChartOptions"
            [legend] = "barchartLegend"
            [chartType] = "barChartType"
            ></canvas>
        </div>
        <div class="col-lg-6">
            <h4>Penjualan Produk</h4>
            <canvas baseChart
            [datasets] = "barChartData"
            [labels] = "barChartLabels"
            [options] = "barChartOptions"
            [legend] = "barchartLegend"
            [chartType] = "barChartType"
            ></canvas>
        </div>
    </div>
   

</div>

