.container{
    p {
        font-size: 12px;
        margin: 0px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
    }
    .wrapper{
        margin-top: 2em;

        .bagian1{
            .detailPembayaran{
                border: 1px solid black;
                padding: 10px 15px;
                .borderCatatan{
                    margin-top: 1em;
                    border-left: 6px solid #39dbcd;
                    background-color: lightgrey;
                    display: flex;
                    height: 45px;
                    .iconCart{
                        align-self: center;
                        padding:0px 5px;
                        img{
                            width: 20px;
                        }
                    }
                    .catatan{
                        align-self: center;
                        padding-left: 5px;
                    }
                }

                .identitas{
                    margin-top: 1em;
                    #kodePembayaran{
                        margin-top: 1em;
                    }
                }

            }

            .metodePembayaran{
                margin-top: 1em;
                border: 1px solid black;
                padding: 10px 15px;
                .metodePText{
                    align-self: center;
                }
                .Emoney{
                    img{
                        width: 50px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }

            }
            
        }

        .bagian2{
            .pembayaran{
                border: 1px solid black;
                padding: 10px 15px;
                .garis{
                    border-bottom:black;
                }
                .listHarga{
                    .table{
                        margin: 0px;
                        td, th {
                            border: none;
                            
                        }
                    }
                    
                }
                .totalHarga{
                    margin-top: 1em;
                    .table{
                        margin: 0px;
                    }
                }
                #beli{
                    margin-top: 1em;
                }
            }

        }
    }
    
}

@media (max-width: 991.98px){
    .bagian2{
        margin-top: 1em;
    }
}