<app-navbar></app-navbar>

<div class="container custom__margin__top">
  <div class="row wrapper">

    <div class="col-lg-7 bagian1">
      <div class="col detailPembayaran">
        <h5>Detail pembayaran</h5>
        <div class="borderCatatan">
          <div class="iconCart">
            <img src="assets/icon/shopping-cart.png" alt="cartIcon" id="cartIcon">
          </div>
          <div class="catatan">
            <p>Jika mau perbaruin pembayaranmu, silakan lakukan submit ulang <a routerLink="#">Pembayaran</a></p>
          </div>
        </div>

        <div class="identitas">
          <p id="alamat">Myoui Arya <br> Jl. SudahdiAspal SampingRumah No 1/2 <br> Medan, Sumatera Utra 240397 <br>
            Indonesia </p>
          <p id="kodePembayaran"> Kode Pembayaran <strong>#MYOUIARYA24</strong> </p>
        </div>

      </div>
      <div class="col metodePembayaran">
        <div class="row metodeP">
          <div class="col col-8 metodePText">
            <h5>Metode Pembayaran</h5>
          </div>
          <div class="col col-4">
            <select class="form-control">
              <option>E-Money</option>
              <option>Credit Card</option>
              <option>Paypal</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row justify-content-lg-center Emoney">
          <div class="col dana text-center">
            <img src="assets/E-money/dana.jpeg" alt="dana">
          </div>
          <div class="col gopay text-center">
            <img src="assets/E-money/Gopay.jpeg" alt="gopay">
          </div>
          <div class="col ovo text-center">
            <img src="assets/E-money/ovo.png" alt="ovo">
          </div>
          <div class="col linkaja text-center">
            <img src="assets/E-money/linkaja.png" alt="">
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-5 bagian2">
      <div class="col pembayaran table-responsive">
        <h5>Pesanan</h5>
        <hr id="garis">

        <div class="table-responsive  listHarga">
          <table class="table ">
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Stockholm Premium Icons Pack</td>
                <td>Rp. 280.000</td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Eram - Photography & Portfolio Theme</td>
                <td>Rp. 720.000</td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>
                  Personalised Portrait Creator v7</td>
                <td>Rp. 150.000</td>
              </tr>
            </tbody>
          </table>

        </div>
        <hr id="garis">

        <div class="input-group mb-3">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">VOUCHER</button>
          </div>
        </div>

        <div class="table-responsive totalHarga">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>
                  <h4>Total Harga</h4>
                </td>
                <td>
                  <h4>Rp. 1.150.000</h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button routerLink="/myItem" type="button" class="btn btn-primary btn-block" id="beli">Beli</button>
      </div>
    </div>
  </div>
</div>