.wrapper{
    p {
        font-size: 20px;
        margin: 0px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
    }
    margin-top: 2em;

    .container-fluid{
        width:70%;        
        .des{
            .subTitle{
                margin-top: 2em;
            }
        }

        
    }
}