<header>
    <!-- Navbar -->
</header>
<div class="wrapper vh-200">
    <app-profile-toko></app-profile-toko>
    <div class="container-fluid">
        <h2 class="mt-5 mb-5">Info Toko</h2>
        <div class="row des">
            <div class="col-md subTitle">
                <h4>Deskripsi toko</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolore perferendis totam error autem repellat necessitatibus, nam dolor debitis exercitationem. Sunt iusto consequatur illum. Dolores doloremque distinctio labore optio eius.
            </div>
            <div class="col-md subTitle">
                <h4>Alamat Toko</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit eaque magni rem ducimus animi, unde consectetur numquam. Voluptatum repellat voluptates molestias nisi, doloremque hic rerum perspiciatis iste praesentium quod. Quasi.</p>
                <h5 class="subTitle">Buka sejak <small class="text-muted">1945</small></h5>
                <p></p>
            </div>
        </div>
    </div>
    
</div>