.jumbotron {
  background-size: cover !important;
  height: 350px;
  background-repeat: no-repeat !important;
  background-position: center;
  padding: 50px;
  border-radius: 10px;
}

.custom-radio {
  font-size: 20px;

  label {
    cursor: pointer !important;
  }
}