<app-navbar></app-navbar>
<div class="container custom__margin__top">
  <div class="row">
    <div class="col-8">
      <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image': 'url(' + produkService.produk[id].img + ')'}"></div>
      <div class="description">
        <h2>{{produkService.produk[id].title}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quo quae labore aperiam officiis autem
          atque dicta et, aspernatur minus tempore nostrum voluptatum, distinctio fugiat error cupiditate facere? Sunt
          error tenetur non reprehenderit mollitia accusamus nobis commodi, praesentium eveniet maiores doloribus
          aperiam architecto! Doloribus esse, sint modi fugit neque assumenda?</p>
        <hr>
        <h4>Features</h4>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Tenetur non reprehenderit mollitia.</li>
          <li>Sunt error tenetur non.</li>
          <li>Tempore nostrum voluptatum.</li>
          <li>Corporis quo quae labore.</li>
        </ul>
        <hr>
        <h4>Contact and Support</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quas harum, ex fugit alias aperiam rem aliquam
          quae ipsam, autem natus pariatur facilis blanditiis eum obcaecati sint commodi deserunt minus.</p>
      </div>
    </div>
    <div class="col-4">
      <h2>{{produkService.produk[id].title}}</h2>
      <hr>
      <div class="inner">
        <h4>Tipe Lisensi</h4>
        <div class="custom-control custom-radio mt-3 mb-3">
          <input type="radio" class="custom-control-input" id="reguler" name="example1" checked>
          <label class="custom-control-label" for="reguler">Reguler &nbsp; &nbsp;- {{produkService.produk[id].regulerPrice | currency:'IDR':'symbol-narrow'}}</label>
        </div>   
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="extended" name="example1">
          <label class="custom-control-label" for="extended">Extended - {{produkService.produk[id].extendedPrice | currency:'IDR':'symbol-narrow'}}</label>
        </div> 
        <h3 class="mt-4">Total <span class="text-primary">Rp. 150.000</span></h3>
        <div class="action-button mt-4">
          <a routerLink="/cart" class="btn btn-outline-primary btn-block">Tambah ke Keranjang</a>
          <a routerLink="/metodePembayaran" class="btn btn-primary btn-block">Beli Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>