<header>
    <!-- Navbar -->
</header>
<div class="wrapper v-200">
  <app-profile-toko></app-profile-toko>
  <div class="container-fluid product-section">
    <h2>Produk Rachel Price</h2>
    <div class="row mt-5 mb-5">
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Personalised Portrait Creator v7</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 150.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>2000 Infographics Templates Bundle</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 340.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Stockholm Premium Icons Pack</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 280.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>18 Hands & Logo Templates</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 260.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>700+ Premium Vector Icons</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 370.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk8.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Real Estate WordPress WPCasa</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 700.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>VR Icons and Typography</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 340.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk11.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Emily Grace - A Blog & Shop Theme</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 670.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/produkDetail">
          <div class="card">
            <img class="card-img-top" src="assets/pic/produk12.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Eram - Photography & Portfolio Theme</h5>
              <p class="card-text mt">by <a routerLink="profileProduk" class="text-primary">Rachel Price</a></p>
              <h4 class="text-primary">Rp. 720.000</h4>
              <div>
                <div>
                  <a routerLink="metodePembayaran" class="btn btn-dark mr-1">Buy Now</a>
                  <a routerLink="cart" class="btn btn-outline-primary mr-1"><i class="fa fa-cart-plus"></i></a>
                  <a routerLink="wishlistToko" class="btn btn-outline-primary"><i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>