<app-navbar></app-navbar>
<div class="container custom__margin__top">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-5 hidden-xs"><img src="assets/pic/produk4.jpg" height="135" />
            </div>
            <div class="col-sm-7">
              <h4>Stockholm Premium Icons Pack</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, praesentium.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">Rp. 280.000</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">Rp. 280.00</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-5 hidden-xs"><img src="assets/pic/produk8.jpg" height="135" />
            </div>
            <div class="col-sm-7">
              <h4>Eram - Photography & Portfolio Theme</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, praesentium.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">Rp. 720.000</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">Rp. 720.00</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-5 hidden-xs"><img src="assets/pic/produk1.jpg" height="135" />
            </div>
            <div class="col-sm-7">
              <h4>Personalised Portrait Creator v7</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, praesentium.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">Rp. 150.000</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">Rp. 150.000</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><a routerLink="" class="btn btn-dark"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total 1.150.000</strong></td>
        <td><a routerLink="/metodePembayaran" class="btn btn-primary btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>