<div class="container-fluid wrapper">
    <div class="row">
    <div class="col-md vh-100 bagian1">

        <div class="wrapper1">
        <div class="logo">
            <img src="assets/pic/logo-test.png" alt="logoLoutaro" id="logoLoutaro">
        </div>
        <div class="textSlogan">
            <h3 id="slogan">Jual-Beli desain digital <br> Pekerja Digital</h3>
        </div>
        </div>


    </div>
    <div class="col-md-7 bagian2">
        <div class="row justify-content-lg-center atas">

        <div class="col-xl-7 ">

            <div class="bagianatas">
            <div class="logob">
                <img src="assets/pic/logo-test.png" alt="logo" id="logoLoutaro">
            </div>
            <h4>Login in to Loutaro</h4>

            <div class="mediasosial">
                <div class="google">
                <img src="assets/pic/google-plus.png" alt="google">
                <h6>Masuk dengan google</h6>
                </div>
                <div class="facebook">
                <img src="assets/pic/facebook.png" alt="facebook">
                </div>
            </div>
            </div>

            <div class="pemisah">
            <div class="row">
                <div class="col-5"><hr></div>
                <div class="col-2 d-flex justify-content-center"><p>Atau</p></div>
                <div class="col-5"><hr></div>
            </div>
            </div>


            <form>
            <div class="row form-group">
                <div class="col">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"></label>
                <small>Creating an account means you’re okay with our Terms of <br> Service, Privacy Policy, and our default Notification Settings.</small> 
            </div>

            <button type="Login" class="btn btn-primary btn-block" id="btnAkunB">Buat Akun Baru</button>


            </form>
            <p class="mt-3">Sudah punya akun? <a routerLink ="/login">Login</a></p>

        </div>
        </div>
    </div>
    </div>
</div>


