/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

a {
  font-weight: 600 !important;
}

.btn-primary {
  background: #BDF3EF !important;
  border-color: #BDF3EF !important;
  color: #1E8D83 !important;
}

.btn-outline-primary {
  color: #1E8D83 !important;
  border-color: #1E8D83 !important;
  &:hover {
    background: #BDF3EF !important;
    border-color: #BDF3EF !important;
    color: #1E8D83 !important;
  }
}

.text-primary {
  color: #1E8D83 !important;
}

.custom__margin__top {
  margin-top: 100px !important;
}

.product-section {
  .col {
    a {
      text-decoration: none !important;
    }
    h5, p {
      color: #212529;
    }
  }
}