.wrapper{
    small{
        cursor: pointer;
        color: black;
    }
    p {
        font-size: 20px;
        margin: 0px;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
    }
    margin-top: 2em;

    .container-fluid{
        width:70%;        
        .headToko{
            .headProfil{
                .picture{
                    padding: 10px;
                    width: 140px;
                    .ava{
                        width: 200px;
                        border: 2px solid gray;
                    }
                }
                .desc{
                    .tittle{
                        display: flex;
                    }
                    .mid{
                        margin-top: 1em;
                    }
                    .desc1{
                        margin-top: 8px;
                        width: 100%;
                    }
                }
            }
        }
        .garis{
            margin:2em 0em ;
        }
        .navbar{
            width: 100%;
            a{
                cursor: pointer;
                padding-top: 10px;
                color: black;
                text-decoration: none;
                
            }
            a:hover{
                border-top: 1px solid gray;
            }


        }
        
    }
}

