<app-navbar></app-navbar>
<div class="wrapper vh-200 custom__margin__top">
  <div class="container-fluid">
    <div class="headToko">
      <div class="row headProfil">
        <div class="col-xl-3 col-lg-4 picture">
          <img src="assets/pic/ava2.jpg" class="rounded-circle ava" alt="ava" id="ava">
        </div>
        <div class="col-xl-9 col-lg-8 desc">
          <div class="title">
            <h1>Kelompok Zenta</h1>
            <small>Edit</small>
          </div>
          <div class="row mid">
            <div class="col-md-4 col-lg-4 followers">
              <p><b>100</b> Produk</p>
            </div>
            <div class="col-md-4 col-lg-4">
              <p><b>10</b> Pengikut</p>
            </div>
          </div>
          <div class="desc1">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum aliquid nam facere laborum placeat,
              accusantium iste incidunt sit veritatis maiores inventore ut nihil numquam quo fugit ullam similique!
              Magnam, quaerat!</p>
            <small>Edit</small>
          </div>
          <!-- <div class="d-flex flex-row-reverse bd-highlight button">
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-success Chat"
                routerLink="/Chat">Chat</button></div>
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary">Follow</button></div>
          </div> -->
        </div>
      </div>
    </div>
    <hr class="garis">
    <div class="navbar d-flex justify-content-center text-center">
      <div class="col produk"><a routerLink="/wishlistToko">Toko</a></div>
      <div class="col ulasan"><a routerLink="/myTokoProduk">Produk</a></div>
      <div class="col about"><a routerLink="/myPengunjung">Pengunjung</a></div>
      <div class="col about"><a routerLink="/Chat">Chat</a></div>
      <div class="col about"><a routerLink="/myItem">Download</a></div>
    </div>
  </div>
</div>